.deff { 
  width : 360px;
  display : block;
  margin : auto;
  color: #7b7c80;
  font-family: "Nanum Myeongjo", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  padding-left: 100px;
  font-size: medium;
  font-style: normal;
}

.line { 
  width : 360px;
  display : block;
  margin : auto;
  color: #7b7c80;
  font-family: "Nanum Myeongjo", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.j { 
  width : 360px;
  display : block;
  margin : auto;
  color: #437259;
  font-family: "Hahmlet", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  padding-left: 234px;
  font-size: medium;
  font-style: normal;
}

.j1 { 
  width : 360px;
  display : block;
  margin : auto;
  color: #437259;
  font-family: "Hahmlet", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  padding-left: 330px;
  font-size: medium;
  font-style: normal;
}

.j2 { 
  width : 360px;
  display : block;
  margin : auto;
  color: #437259;
  font-family: "Hahmlet", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  padding-left: 210px;
  font-size: medium;
  font-style: normal;
}

.w { 
  width : 360px;
  display : block;
  margin : auto;
  color: #72995d;
  font-family: "Hahmlet", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  padding-left: 100px;
  font-size: medium;
  font-style: normal;
}

.a { 
  width : 360px;
  display : block;
  margin : auto;
  color: #b5ae71;
  font-family: "Hahmlet", serif;
  font-optical-sizing: auto;
  padding-left: 220px;
  font-weight: 400;
  font-size: medium;
  font-style: normal;
}

.a1 { 
  width : 360px;
  display : block;
  margin : auto;
  color: #b5ae71;
  font-family: "Hahmlet", serif;
  font-optical-sizing: auto;
  padding-left: 235px;
  font-weight: 400;
  font-size: medium;
  font-style: normal;
}

.l { 
  width : 360px;
  display : block;
  margin : auto;
  color: #c8c8c8;
  font-family: "Hahmlet", serif;
  font-optical-sizing: auto;
  padding-left: 230px;
  font-weight: 400;
  font-size: medium;
  font-style: normal;
}

.title {
  width : 360px;
  display : block;
  margin : auto;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
  font-style: normal;
  font-size: larger;
  padding-left: 100px;
  color: #c8c8c8;
}

.title2 {
  width : 360px;
  display : block;
  margin : auto;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
  font-style: normal;
  font-size: large;
  padding-left: 100px;
  color: #c8c8c8;
}
